@using Microsoft.AspNetCore.Mvc.TagHelpers
@model List<Core.Models.Loop>

<h2>Loop Table</h2>

<table class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Edit</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var loop in Model)
    {
        <tr>
            <td>@loop.Id</td>
            <td>@loop.Name</td>
            <td>
                <a asp-action="EditLoop" asp-route-id="@loop.Id">Edit</a>
            </td>
        </tr>
    }
    </tbody>
</table>