@model DriverModel

<h2>Edit Bus</h2>

<form asp-action="EditDriver">
    <input type="hidden" asp-for="Id" />

    <div class="form-group">
        <label asp-for="FirstName"></label>
        <input asp-for="FirstName" class="form-control" />
        <span asp-validation-for="FirstName"></span>
        <label asp-for="LastName"></label>
        <input asp-for="LastName" class="form-control" />
        <span asp-validation-for="LastName"></span>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
    <a asp-action="DriverCreate"><button type="button" class="btn btn-secondary">Cancel</button></a>
</form>