@using Microsoft.AspNetCore.Mvc.TagHelpers
@model List<Core.Models.Bus>

<h2>Bus Table</h2>

<table class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Bus Number</th>
        <th>Edit</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var bus in Model)
    {
        <tr>
            <td>@bus.Id</td>
            <td>@bus.BusNumber</td>
            <td>
                <a asp-action="EditBus" asp-route-id="@bus.Id">Edit</a>
            </td>
        </tr>
    }
    </tbody>
</table>